/*! CUSTOM PROPERTIES */

:root{
    --background-window: rgb(234,234,234);
    --background-main: rgb(219,219,211);
    --background-secondary: rgb(0,150,136);
    --background-tertiary: rgb(142,218,252);
    --background-own-msg: rgb(213,249,186);
    --icons-color: rgb(177,177,177);
}

/*TODO remove - DEBUG */

.debug{
    border: 1px dashed black;
}

/*! GENERICS */

body{
    height: 100vh;
    padding-top: 5vh;
    background-image: linear-gradient(var(--background-secondary) 15%, var(--background-main) 15%, var(--background-main));
}

i[class^="fa"]{
    color: var(--icons-color);
}

header i[class^="fa"], footer i[class^="fa"]{
    font-size: 25px;
}    

.rounded-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.mw-50{
    max-width: 50%;
}


/*! MAIN */

main{
    height: 90vh;
}

main .input-group-text{
    background-color: white;
}

header{
    background-color: var(--background-window);
    height: 80px;
}

header button, footer button{
    background-color: transparent;
}

footer{
    background-color: var(--background-window);
    height: 80px;
}

    /*# SIDEBAR */

    #sidebar{
        background-color: white;
        height: 100%;
        border-right: 1px solid gray;
    }

    #sidebar-top{
        height: 220px;
    }

    #sidebar-top .input-group{
        height: calc(100% - 160px);
        background-color: var(--background-window);
    }

    .notifications{
        height: 80px;
        background-color: var(--background-tertiary);
    }

    .notifications i[class^="fa"]{
        color: var(--background-tertiary);
        font-size: 25px;
    }

    .notification-text a{
        color: gray;
    }

    #sidebar-bottom{
        max-height: calc(100% - 220px);
        overflow-y: auto;
    }

    #sidebar-bottom .contact:hover{
        background-color: var(--background-window);
        cursor: pointer;
    }
    /*# CHAT SECTION */

    .chat-content{
        height: calc(90vh - 160px);
        background-image: url(../img/mine.jpg);
        overflow-y: auto;
    }

    .user.message{
        background-color: var(--background-own-msg);
    }

    .external.message{
        background-color: white;
    }




