<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <!-- BOOTSTRAP -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- DATA -->
    <script src="js/data_milestone1.js"></script>
    <!-- TITLE -->
    <title>Boolzapp</title>
</head>
<body>
    <main id="root" class="container">
        <div class="row g-0 h-100 shadow">

                <!--! SIDEBAR -->
                <nav id="sidebar" class="col-5 h-100">
                    <!--# SIDEBAR TOP -->
                    <div id="sidebar-top">
                        <!--+ HEADER -->
                        <header class="px-3 d-flex align-items-center justify-content-between">
                            <div class="header-left">
                                <img class="rounded-img me-2" :src=" 'img/avatar' + data.user.avatar + '.jpg' " alt="io">
                                <span class="h5">{{ data.user.name }}</span>
                            </div>
                            <div class="header-right">
                                <button class="border-0 me-3"><i class="fa-solid fa-circle-notch"></i></button>
                                <button class="border-0 me-3"><i class="fa-regular fa-message"></i></button>
                                <button class="border-0 me-3"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                            </div>
                        </header>
                        <!--+ NOTIFICATIONS -->
                        <div class="notifications d-flex align-items-center px-3">
                            <div class="rounded-img bg-light d-flex justify-content-center align-items-center me-2">
                                <i class="fa-regular fa-bell-slash"></i>
                            </div>
                            <div class="notification-text">
                                <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!--+ SEARCH -->
                        <div class="input-group p-2">
                            <span class="input-group-text border-0" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control border-0" placeholder="Cerca o inizia una nuova chat" v-model.trim="searchField" @keyup="filteredNames()">
                        </div>
                    </div>
                    <!--# SIDEBAR BOTTOM -->
                    <div id="sidebar-bottom">
                        <div v-for="(contact, i) in data.contacts">
                        <div v-if="contact.visible" class="contact d-flex p-3" :class="{ 'selected': currentIndex === i  }" @click="selectContact(i)">
                            <img class="rounded-img me-3" :src=" 'img/avatar' + contact.avatar + '.jpg'" alt="">
                            <h5>{{ contact.name }}</h5>
                        </div>
                        </div>
                    </div>
                </nav>

                <!--! CHAT SECTION -->
                <section id="chat" class="col-7 ">
                    <!--# CHAT HEADER -->
                    <header class="d-flex align-items-center justify-content-between px-2">
                        <div class="header-left d-flex">
                            <img class="rounded-img me-2" :src="'img/avatar' + data.contacts[currentIndex].avatar + '.jpg'" alt="data.contacts[currentIndex].name">
                            <div class="user-info d-flex flex-column justify-content-center">
                                <p class="mb-0 h5">{{ data.contacts[currentIndex].name }}</p>
                                <p class="mb-0">{{ lastSeen }}</p>
                            </div>
                        </div>
                        <div class="header-right">
                            <button class="border-0 me-3"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <button class="border-0 me-3"><i class="fa-solid fa-paperclip"></i></button>
                            <button class="border-0 me-3"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        </div>
                    </header>
                    <!--# CHAT -->
                    <div ref="chat" class="chat-content d-flex flex-column p-5">
                        <div v-for="(message, i) in data.contacts[currentIndex].messages" class="message rounded-3 p-3 mb-2 mw-50 shadow" :class="isSent(i) ? 'user' : 'external'">
                            <i class="fa-solid fa-chevron-down" @click="toggleDropdown(i)" ></i>
                            <p class="mb-1">{{ message.text }}</p>
                            <time class="float-end">{{ message.date }}</time>
                            <div :id="`dropdown_${i}`" class="popup rounded-2 text-center shadow d-none">
                                <p class="p-3 m-0 rounded-top" @click="deleteMessage(i)" >DELETE MESSAGE</p>
                                <hr class="m-0">
                                <p class="p-3 m-0 rounded-bottom">MESSAGE INFO</p>
                            </div>
                        </div>
                    </div>
                    <!--# CHAT FOOTER -->
                    <footer class="d-flex justify-content-around align-items-center px-3">
                        <button class="border-0 me-3"><i class="fa-regular fa-face-smile"></i></button>
                        <input class="form-control form-control-lg me-3" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                        <button class="border-0"><i class="fa-solid fa-microphone"></i></button>
                    </footer>
                </section>
        </div>
    </main>
    <!-- JAVASCRIPT -->
    <script src="js/script.js"></script>
</body>
</html>